.add-option-error {
  color: $alizarin;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
}

.add-option {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.add-option__input {
  background: $white-smoke;
  border: none;
  color: $wet-asphalt;
  box-shadow: inset 0 10px 15px -10px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  margin: 0 0 $s-size 0;
  padding: $s-size;
}

@media (min-width: $desktop-breakpoint) {
  .add-option {
    flex-direction: row;
  }

  .add-option__input {
    margin: 0 $s-size 0 0;
  }
}
