.big-button {
  background-color: $alizarin;
  color: $clouds;
  border: none;
  border-bottom: 0.6rem solid darken($alizarin, 10%);
  font-weight: bold;
  font-size: $l-size;
  width: 100%;
  margin-bottom: $m-size;
  padding: $m-size 2.4rem;
}

.big-button:disabled {
  opacity: 0.25;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $xl-size;
  }
}

.button {
  background-color: $alizarin;
  border: none;
  border-bottom: 0.3rem solid darken($alizarin, 10%);
  color: $clouds;
  font-weight: 500;
  padding: $s-size 1.8rem;
}

.button--link {
  background-color: transparent;
  border: none;
  color: $alizarin;
  padding: 0;
}

.button--remove-all-link {
  background-color: $clouds;
  border: none;
  color: $grey;
  padding: $s-size;
}
